.ZodiacListWrapper {
  width: 100%;
  border-radius: 20px;
  box-shadow: -3px 5px 8px var(--tg-theme-accent-text-color);
  background-color: var(--tg-theme-bg-color);

  .link {
    display: block;
  }

  .ZodiacCard {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 28px;
      }
    }

    .image {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
