.app {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  padding: 24px;

  @media (min-width: 769px) {
    font-size: 18px;
  }
}

.app-container {
  max-width: 1350px;
  width: 100%;
  padding: 15px 15px;
  margin: 0 auto;
}
