.SelectTrigger {
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  min-width: 80px;
  padding: 16px;
  border: 1px solid var(--tg-theme-accent-text-color);
  border-radius: 100px;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &[data-state="open"] {
    .SelectIcon {
      transform: rotate(180deg);
    }
  }

  .SelectIcon {
    display: flex;
    align-items: center;
    transition: transform 0.15s ease-in;

    svg path {
      fill: var(--tg-theme-text-color);
    }
  }
}

.SelectContent {
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  color: var(--tg-theme-text-color);
  width: var(--radix-select-trigger-width);
  overflow: hidden;
  background-color: var(--tg-theme-bg-color);
  border: 1px solid var(--tg-theme-accent-text-color);
  border-radius: 20px;
}

.SelectItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-color-100);
  }

  &[data-highlighted] {
    outline: none;
  }

  .CheckIcon {
    width: 16px;
    height: 16px;
    fill: var(--tg-theme-text-color);
  }
}
